<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="google-site-verification" content="S4Va72ccMcgdn90Q_wCsUWRO9aBmVXZdRvEaXvoytGk" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="{{ site.description }}" />

    <meta property="og:description" content="{{ site.description }}"/>
    <meta property="og:title" content="{{ site.title }}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:image" content="{{ site.website_image}}"/>
    <meta property="og:image:alt" content="{{ site.website_image_alt }}" />
    <meta property="og:url" content="https://julien.aldon.fr"/>
    <meta property="og:locale" content="fr_FR"/>

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="{{ site.title }}" />
    <meta name="twitter:description" content="{{ site.description }}" />
    <meta name="twitter:image" content="{{ site.website_image}}" />
    <meta name="twitter:image:alt" content="{{ site.website_image_alt }}" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">

    <link rel="canonical" href="https://julien.aldon.fr" />
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" sizes="480x480">
    <link rel="stylesheet" type="text/css" href="/assets/css/main.css"/>
    <link rel="stylesheet" type="text/css" href="/assets/css/modal.css"/>
    <link rel="stylesheet" type="text/css" href="/assets/css/colors.css"/>
    <script src="https://kit.fontawesome.com/08db035529.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/assets/javascript/textload.js"></script>
    <title>Julien Aldon / Portfolio</title>
    <script type="application/ld+json">
    {

        "@context": "https://schema.org",
        "@type": "ProfilePage",
        "dateCreated": "2016-10-06T12:00:00",
        "mainEntity": {
            "@type": "Person",
            "email": "mailto:{{ site.email }}",
            "image": "{{ site.website_image}}",
            "jobTitle": "Developer",
            "name": "Julien Aldon",
            "url": "https://julien.aldon.fr",
            "alumniOf": {
                "@context": "https://schema.org",
                "@type": "EducationalOrganization",
                "legalName": "Epitech",
                "address": "2 rue du professeur charles appleton 69007 Lyon"
            },
            "description": "Diplomé du programme grandes écoles Epitech en 2021, j'occupe mon temps grâce à des projets personnels divers. Des applications web & bureau, des scripts pour faciliter mon travail, ou encore des petits jeux. Vous pourrez retrouver l'ensemble de mes projets sur ce site, ou sur mon github."
        }

    }
    </script>
</head>