<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="google-site-verification" content="S4Va72ccMcgdn90Q_wCsUWRO9aBmVXZdRvEaXvoytGk" />
    <meta name="Description" content="Portfolio de Julien Aldon réalisé en HTML/CSS par julien aldon" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" type="image/x-icon" href="/assets/images/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/assets/css/main.css"/>
    <script src="https://kit.fontawesome.com/08db035529.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/assets/javascript/script.js"></script>
    <title>Julien Aldon / Portfolio</title>
    <script type="application/ld+json">
        [{
            "@context": "https://schema.org/",
            "@type": "ImageObject",
            "contentUrl": "https://julien.aldon.fr/assets/images/ressources/Rosette/homepage.png",
            "creditText": "rosette-restaurant.fr",
            "description": "Page d'accueil du site rosette-restaurant.fr",
            "creator": {
                "image": "https://julien.aldon.fr/assets/images/ressources/about.jpg",
                "name": "Julien Aldon",
                "url": "https://julien.aldon.fr"
            },
            "license": "https://creativecommons.org/licenses/by-sa/3.0/fr/",
            "acquireLicensePage": "https://julien.aldon.fr/about",
            "copyrightNotice": "Julien Aldon"
            },
            {
            "@context": "https://schema.org/",
            "@type": "ImageObject",
            "contentUrl": "https://julien.aldon.fr/assets/images/ressources/Clikodrome/dem_sessions.png",
            "creditText": "clikodrome.aldon.fr",
            "description": "Page d'accueil de l'outil interne Clikodrome à Epitech MSC permettant le suivi des présences.",
            "creator": {
                "image": "https://julien.aldon.fr/assets/images/ressources/about.jpg",
                "name": "Julien Aldon",
                "url": "https://julien.aldon.fr"
            },
            "license": "https://creativecommons.org/licenses/by-sa/3.0/fr/",
            "acquireLicensePage": "https://julien.aldon.fr/about",
            "copyrightNotice": "Julien Aldon"
            },
            {
                "@context": "https://schema.org/",
                "@type": "ImageObject",
                "contentUrl": "https://julien.aldon.fr/assets/images/ressources/EventPlanner/EventPlannerVue.png",
                "creditText": "Epitech Event Planner",
                "description": "Interface du logiciel interne EEplanner.",
                "creator": {
                    "image": "https://julien.aldon.fr/assets/images/ressources/about.jpg",
                    "name": "Julien Aldon",
                    "url": "https://julien.aldon.fr"
                },
                "license": "https://creativecommons.org/licenses/by-sa/3.0/fr/",
                "acquireLicensePage": "https://julien.aldon.fr/about",
                "copyrightNotice": "Julien Aldon"
            },
            {
                "@context": "https://schema.org/",
                "@type": "ImageObject",
                "contentUrl": "https://julien.aldon.fr/assets/images/ressources/Albus/AlbusPoints.png",
                "creditText": "Site web Albus dumbledore",
                "description": "Outil de gestion des points de maisons pour la piscine Epitech.",
                "creator": {
                    "image": "https://julien.aldon.fr/assets/images/ressources/about.jpg",
                    "name": "Julien Aldon",
                    "url": "https://julien.aldon.fr"
                },
                "license": "https://creativecommons.org/licenses/by-sa/3.0/fr/",
                "acquireLicensePage": "https://julien.aldon.fr/about",
                "copyrightNotice": "Julien Aldon"
            },
            {
                "@context": "https://schema.org/",
                "@type": "ImageObject",
                "contentUrl": "https://julien.aldon.fr/assets/images/ressources/Publify/v2/home.png",
                "creditText": "Publify Alpha",
                "description": "Outils de gestion de playlist Spotify.",
                "creator": {
                    "image": "https://julien.aldon.fr/assets/images/ressources/about.jpg",
                   "name": "Julien Aldon",
                    "url": "https://julien.aldon.fr"
                },
                "license": "https://creativecommons.org/licenses/by-sa/3.0/fr/",
                "acquireLicensePage": "https://julien.aldon.fr/about",
                "copyrightNotice": "Julien Aldon"
            },
            {
                "@context": "https://schema.org/",
                "@type": "ImageObject",
                "contentUrl": "https://julien.aldon.fr/assets/images/ressources/HomeBiblio/Books.png",
                "creditText": "home.aldon.fr",
                "description": "Outil de gestion de base de donnée de livres.",
                "creator": {
                    "image": "https://julien.aldon.fr/assets/images/ressources/about.jpg",
                   "name": "Julien Aldon",
                    "url": "https://julien.aldon.fr"
                },
                "license": "https://creativecommons.org/licenses/by-sa/3.0/fr/",
                "acquireLicensePage": "https://julien.aldon.fr/about",
                "copyrightNotice": "Julien Aldon"
            },
            {
                "@context": "https://schema.org/",
                "@type": "ImageObject",
                "contentUrl": "https://julien.aldon.fr/assets/images/ressources/JAMMEE/Home.png",
                "creditText": "jammee.io",
                "description": "Logiciel de M.A.O. dans le navigateur.",
                "creator": {
                    "image": "https://julien.aldon.fr/assets/images/ressources/about.jpg",
                   "name": "Julien Aldon",
                    "url": "https://julien.aldon.fr"
                },
                "license": "https://creativecommons.org/licenses/by-sa/3.0/fr/",
                "acquireLicensePage": "https://julien.aldon.fr/about",
                "copyrightNotice": "Julien Aldon"
            },
            {
                "@context": "https://schema.org/",
                "@type": "ImageObject",
                "contentUrl": "https://julien.aldon.fr/assets/images/ressources/ETV/Menu.png",
                "creditText": "Jeux Video Escape The Volcano",
                "description": "Page d'accueil du jeu Escape the Volcano.",
                "creator": {
                    "image": "https://julien.aldon.fr/assets/images/ressources/about.jpg",
                   "name": "Julien Aldon",
                    "url": "https://julien.aldon.fr"
                },
                "license": "https://creativecommons.org/licenses/by-sa/3.0/fr/",
                "acquireLicensePage": "https://julien.aldon.fr/about",
                "copyrightNotice": "Julien Aldon"
            },
            {
                "@context": "https://schema.org/",
                "@type": "ImageObject",
                "contentUrl": "https://julien.aldon.fr/assets/images/ressources/Publify/publify_home.png",
                "creditText": "publify.old",
                "description": "Page d'accueil de l'ancienne version du site publify, gestionnaire de playlist spotify.",
                "creator": {
                    "image": "https://julien.aldon.fr/assets/images/ressources/about.jpg",
                   "name": "Julien Aldon",
                    "url": "https://julien.aldon.fr"
                },
                "license": "https://creativecommons.org/licenses/by-sa/3.0/fr/",
                "acquireLicensePage": "https://julien.aldon.fr/about",
                "copyrightNotice": "Julien Aldon"
            },
            {
                "@context": "https://schema.org/",
                "@type": "ImageObject",
                "contentUrl": "https://julien.aldon.fr/assets/images/ressources/Raytracer/raytracer2_screen.png",
                "creditText": "Raytracer2 Epitech",
                "description": "Rendu d'un Raytracer2 Epitech de 2016.",
                "creator": {
                    "image": "https://julien.aldon.fr/assets/images/ressources/about.jpg",
                   "name": "Julien Aldon",
                    "url": "https://julien.aldon.fr"
                },
                "license": "https://creativecommons.org/licenses/by-sa/3.0/fr/",
                "acquireLicensePage": "https://julien.aldon.fr/about",
                "copyrightNotice": "Julien Aldon"
            },
            {
                "@context": "https://schema.org/",
                "@type": "ImageObject",
                "contentUrl": "https://julien.aldon.fr/assets/images/ressources/ThisPortFolio/Main.png",
                "creditText": "julien.aldon.fr",
                "description": "La page d'accueil de mon port folio.",
                "creator": {
                    "image": "https://julien.aldon.fr/assets/images/ressources/about.jpg",
                    "name": "Julien Aldon",
                    "url": "https://julien.aldon.fr"
                },
                "copyrightNotice": "Julien Aldon",
                "license": "https://creativecommons.org/licenses/by-sa/3.0/fr/",
                "acquireLicensePage": "https://julien.aldon.fr/about"
            }
    ]
    </script>
</head>