<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="google-site-verification" content="S4Va72ccMcgdn90Q_wCsUWRO9aBmVXZdRvEaXvoytGk" />
    <meta name="description" content="{{ page.description }}" />
    <meta property="og:description" content="{{ page.description }}"/>
    <meta property="og:title" content="{{ page.title }}">
    <meta property="og:type" content="article">
    <meta property="og:url" content="https://julien.aldon.fr{{ page.permalink }}"/>
    <meta property="og:locale" content="fr_FR"/>
    <meta property="og:image" content="{{ page.images[0].img }}"/>
    <meta property="og:image:alt" content="{{ page.images[0].alt }}" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="{{ page.title }}" />
    <meta name="twitter:description" content="{{ page.description }}" />
    <meta name="twitter:image" content="{{ page.images[0].img }}" />
    <meta name="twitter:image:alt" content="{{ page.images[0].alt }}" />

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/assets/css/project.css"/>
    <link rel="stylesheet" type="text/css" href="/assets/css/modal.css"/>
    <link rel="stylesheet" type="text/css" href="/assets/css/colors.css"/>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700;800;900&display=swap" rel="stylesheet">
    
    <script src="https://kit.fontawesome.com/08db035529.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/assets/javascript/script.js"></script>
    <script type="text/javascript" src="/assets/javascript/projet.js"></script>
    <title>{{ page.title }}</title>
    {{ page.google-seo-data-markup }}
</head>