<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="google-site-verification" content="S4Va72ccMcgdn90Q_wCsUWRO9aBmVXZdRvEaXvoytGk" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="{{ site.description }}" />

    <meta property="og:description" content="{{ site.description }}"/>
    <meta property="og:title" content="{{ site.title }}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:image" content="{{ site.website_image}}"/>
    <meta property="og:image:alt" content="{{ site.website_image_alt }}" />
    <meta property="og:url" content="https://julien.aldon.fr"/>
    <meta property="og:locale" content="fr_FR"/>

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="{{ site.title }}" />
    <meta name="twitter:description" content="{{ site.description }}" />
    <meta name="twitter:image" content="{{ site.website_image}}" />
    <meta name="twitter:image:alt" content="{{ site.website_image_alt }}" />

    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" sizes="480x480">
    <link rel="stylesheet" type="text/css" href="/assets/css/main.css"/>
    <script src="https://kit.fontawesome.com/08db035529.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/assets/javascript/script.js"></script>
    <title>Julien Aldon / Portfolio</title>
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "BreadcrumbList",
        "name": "Portfolio projects",
        "description": "Liste des projets présent dans ce portfolio",
        "itemListElement": [{
            "@type": "ListItem",
            "position": 1,
            "name": "Rosette-restaurant.fr",
            "image": "https://julien.aldon.fr/assets/images/ressources/Rosette/homepage.webp",
            "item": "https://julien.aldon.fr/rosette"
          },{
            "@type": "ListItem",
            "position": 2,
            "name": "Le Clikodrome",
            "image": "https://julien.aldon.fr/assets/images/ressources/Clikodrome/demo_session.webp",
            "item": "https://julien.aldon.fr/clikodrome"
          },{
            "@type": "ListItem",
            "position": 3,
            "name": "Epitech Event Planner",
            "image": "https://julien.aldon.fr/assets/images/ressources/EventPlanner/EventPlannerEnCour.webp",
            "item": "https://julien.aldon.fr/epitecheventplanner"
          },{
            "@type": "ListItem",
            "position": 4,
            "name": "Albus Dumbledore",
            "image": "https://julien.aldon.fr/assets/images/ressources/Albus/Albus.webp",
            "item": "https://julien.aldon.fr/albusdumbledore"
          },{
            "@type": "ListItem",
            "position": 5,
            "name": "Publify Alpha",
            "image": "https://julien.aldon.fr/assets/images/ressources/Publify/v2/home.webp",
            "item": "https://julien.aldon.fr/publify/alpha"
          },{
            "@type": "ListItem",
            "position": 6,
            "name": "Biblio",
            "image": "https://julien.aldon.fr/assets/images/ressources/HomeBiblio/About.webp",
            "item": "https://julien.aldon.fr/biblio"
          },{
            "@type": "ListItem",
            "position": 7,
            "name": "JAMMEE",
            "image": "https://julien.aldon.fr/assets/images/ressources/JAMMEE/Home.webp",
            "item": "https://julien.aldon.fr/jammee"
          },{
            "@type": "ListItem",
            "position": 8,
            "name": "Escape the Volcano",
            "image": "https://julien.aldon.fr/assets/images/ressources/ETV/Menu.webp",
            "item": "https://julien.aldon.fr/escapethevolcano"
          },{
            "@type": "ListItem",
            "position": 9,
            "name": "Publify Old",
            "image": "https://julien.aldon.fr/assets/images/ressources/Publify/home.webp",
            "item": "https://julien.aldon.fr/publify/old"
          },{
            "@type": "ListItem",
            "position": 10,
            "name": "Raytracer 2 - Epitech",
            "image": "https://julien.aldon.fr/assets/images/ressources/Raytracer/Raytracer2_screen.webp",
            "item": "https://julien.aldon.fr/raytracer"
          },{
            "@type": "ListItem",
            "position": 11,
            "name": "Portfolio",
            "image": "https://julien.aldon.fr/assets/images/ressources/ThisPortFolio/Home.webp",
            "item": "https://julien.aldon.fr/portfolio"
          }]
      }
    </script>
</head>