:root {
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-2);
  margin: 0px;
}

a {
  color: var(--fg-2);
  text-decoration: none;
}

.about {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



.about section {
  width: 50vw;
}

.about aside {
  width: 50vw;
}

.presentation {
  margin-left: 5%;
  margin-right: 20%;
  margin-top: 5rem;
  display: flex;
  flex-flow: column;
  padding-bottom: 3rem;
  height: 14rem;
}

.grow {
  transition: all .2s ease-in-out;
}

.grow:hover {
  transform: rotate(-1deg) scale(1.1);
}

.presentation p {
  opacity: 0;
  display: none;
  transition: all 0.2s ease-in;
}

.presentation p.selected {
  display: flex;
  opacity: 1;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 1.3rem;
  line-height: 33px;
  margin: 0px;
  margin-bottom: 1.75rem;
  color: var(--fg-0);
}

.presentation span {
  display: inline-flex;
  border: 3px solid var(--fg-2);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.experiences {
  margin-left: 5%;
  margin-right: 5%;
}

.experiences ul {
  padding: 0rem;
  overflow-y: scroll;
  width: 80vw;
  max-height: 80vh;
  scrollbar-color: var(--fg-0) rgba(0,0,0,0);
}

.experiencebox {
  display: flex;
  padding-bottom: 1rem;
  border-radius: 0.5rem;
  padding: 1rem;
}

.experiencebox:nth-child(2n + 1) {
  background: rgba(0, 0, 0, 0.1);
}

.experiencebox:hover {
  background-color: rgba(0, 0, 0, 0.2);
  transition: all 0.4s ease;
}

.experiencebox div {
  padding-left: 3rem;
  width: 50%;
}

.experiencebox .date {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  line-height: 21px;
  color: var(--fg-2);
  margin: 0rem;
  width: 10rem;
}

.experiencebox div .titre {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 26px;
  color: var(--fg-0);
  padding-bottom: 1rem;
  margin: 0rem;
}

.experiencebox div .description {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.3rem;
  color: var(--fg-0);
  margin: 0rem;
}

.ruler {
  border: 3px solid var(--fg-2);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  height: 0px;
  width: 10rem;
  display: inline-flex;
  margin-right: 1rem;
  transition: all 0.2s ease-in;
}

.infobox {
  margin-left: 8rem;
}

.infobox a {
  display: flex;
  transition: all 0.2s ease-in;
  align-items: center;
  background: none;
  border: none;
  max-width: 70%;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
  color: var(--fg-2);
  margin-bottom: 4rem;
  margin-top: 4rem;
  cursor: pointer;
}

.infobox a:hover {
  transform: scale(130%) translateX(11%);
}

.infobox a:hover .ruler {
  border: 3px solid var(--fg-0);
}

.infobox a:hover {
  color: var(--fg-0);
}

.infobox a.selected {
  color: var(--fg-0);
  transform: scale(130%) translateX(11%);
}

.infobox a.selected .ruler {
  border: 3px solid var(--fg-0);
  flex: 1 1 auto

}

.chevron {
  font-size: 4rem;
  color: var(--fg-2);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in;
}

.chevron:hover {
  transform: scale(130%);
}

.profilebox {
  display: flex;
  flex-flow: row;
  margin: 5rem 0rem 2rem 8rem;
}

.about-img {
  width: 13rem;
  height: 13rem;
  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 8px;
}

.aboutbox {
  display: flex;
}

.aboutbox > div {
  margin-left: 4rem;
}

.aboutbox div h1 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 4rem;
  line-height: 70px;
  padding: 0px;
  margin: 0px;
  color: var(--fg-0);
}

.aboutbox div h2 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 1.8rem;
  padding: 0px;
  margin: 0px;
  line-height: 33px;
  color: var(--fg-0);
}

.aboutbox div p {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 33px;
  padding: 0px;
  margin: 0px;
}

.iconbox {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
  justify-content: space-between;
  max-width: 17rem;
}

.iconLink {
  position: relative;
  overflow: hidden;
  width: 2.5rem;
  height: 2.5rem;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 5px solid var(--fg-2);
  border-radius: 1rem;
}

.iconLink:before {
  content: "";
  position: absolute;
  width: 80px;
  height: 80px;
  background: #3c2317;
  transform: translateY(4rem) rotate(0deg);
  border-radius: 40%;
  z-index: -1;
  transition: all 1.5s ease;
}

.iconLink:hover:before {
  transform: translateY(0rem) rotate(360deg);
  transition: all 1.5s ease;
}

.iconElem {
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-title {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 3.9rem;
  line-height: 70px;
  margin-left: 5rem;
}


#experiences {
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#projets {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

#projets div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#projets div a .img-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

#projets div a {
  display: flex;
  flex-direction: row;
  max-width: 40%;
  border-radius: 1rem;
  padding: 2rem;
  box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
}

#projets div a:nth-child(2n) {
  margin-left: 1rem;
  margin-right: 0rem;
  margin-top: 4rem;
  margin-bottom: 3rem;
}

#projets div a:nth-child(2n + 1) {
  margin-left: 0rem;
  margin-right: 1rem;
  margin-top: 4rem;
  margin-bottom: 3rem;
}

#projets div a .projecttext h2 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 1.8rem;
  line-height: 33px;
  color: var(--fg-2);
  text-shadow: 0px 4px 4px rgba(255, 255, 255, 0.25);
  margin: 0rem;
}

#projets div a .projecttext h3 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 26px;
  color: var(--fg-2);
  margin-top: 0rem;
}

#projets div a .projecttext p {
  margin: 0rem;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 26px;
  color: var(--fg-2);
  flex: 1;
}

#projets div a .projecttext {
  min-width: 30%;
  padding-right: 1rem;
  margin-right: 1rem;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  justify-content: flex-start;
}

#projets div a .imgHeader {
  filter: drop-shadow(-4px -4px 4px rgba(255, 255, 255, 0.25));
  border-radius: 8px;
  max-width: 20vw;
  display: flex;
  justify-self: center;
  max-height: 20vh;
}

#projets div a .secondImg {
  filter: drop-shadow(-4px -4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 8px;
  position: relative;
  left: 1rem;
  max-width: 20vw;
  top: -4rem;
  max-height: 20vh;
}

#projets div a .projecttext .techno-info {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#projets div a .projecttext .techno-link {
  text-decoration: none;
  color: var(--bg-1);
  background-color: var(--fg-2);
  border: var(--fg-2);
  padding: 0.5rem;
  border-radius: 0.8rem;
  font-weight: 700;
  transition: transform 0.2s; /* Animation */
  width: auto;
  margin-right: 1rem;
  margin-bottom: 1rem;
  max-height: 1.5rem;
}

.text-box {
  display: inline-block;
  position: relative;
  top: 10.5%;
  left: 75%;
}

.text-box h2 {
  display: inline-block;
  position: absolute;
  top: -100px;
  transform: rotateX(-90deg);
  opacity: 0;
  animation-timing-function: ease;
  width: 5rem;
}

.text-box h2:nth-child(1) {
  animation: rollDown 10s forwards infinite;
}

.text-box h2:nth-child(2) {
  animation: rollDown2 10s forwards infinite;
}

.text-box h2:nth-child(3) {
  animation: rollDown3 10s forwards infinite;
}

.text-box h2:nth-child(4) {
  animation: rollDown4 10s forwards infinite;
}

.text-box h2:nth-child(5) {
  animation: rollDown5 10s forwards infinite;
}

.text-box h2:nth-child(6) {
  animation: rollDown6 10s forwards infinite;
}

@keyframes rollDown {
  0% {
    top: -100px;
    transform: rotateX(-90deg);
  }
  4% {
    top: -74px;
    transform: rotateX(0deg);
    opacity: 1;
  }
  8% {
    top: -74px;
    transform: rotateX(0deg);
    opacity: 1;
  }
  12% {
    top: -50px;
    transform: rotateX(30deg);
    opacity: 0;
  }
}

@keyframes rollDown2 {
  16% {
    top: -100px;
    transform: rotateX(-90deg);
  }
  20% {
    top: -74px;
    transform: rotateX(0deg);
    opacity: 1;
  }
  24% {
    top: -74px;
    transform: rotateX(0deg);
    opacity: 1;
  }
  28% {
    top: -50px;
    transform: rotateX(30deg);
    opacity: 0;
  }
}

@keyframes rollDown3 {
  32% {
    top: -100px;
    transform: rotateX(-90deg);
  }
  36% {
    top: -74px;
    transform: rotateX(0deg);
    opacity: 1;
  }
  40% {
    top: -74px;
    transform: rotateX(0deg);
    opacity: 1;
  }
  44% {
    top: -50px;
    transform: rotateX(30deg);
    opacity: 0;
  }
}

@keyframes rollDown4 {
  48% {
    top: -100px;
    transform: rotateX(-90deg);
  }
  52% {
    top: -74px;
    transform: rotateX(0deg);
    opacity: 1;
  }
  56% {
    top: -74px;
    transform: rotateX(0deg);
    opacity: 1;
  }
  60% {
    top: -50px;
    transform: rotateX(30deg);
    opacity: 0;
  }
}

@keyframes rollDown5 {
  64% {
    top: -100px;
    transform: rotateX(-90deg);
  }
  68% {
    top: -74px;
    transform: rotateX(0deg);
    opacity: 1;
  }
  72% {
    top: -74px;
    transform: rotateX(0deg);
    opacity: 1;
  }
  76% {
    top: -50px;
    transform: rotateX(30deg);
    opacity: 0;
  }
}

@keyframes rollDown6 {
  80% {
    top: -100px;
    transform: rotateX(-90deg);
  }
  84% {
    top: -74px;
    transform: rotateX(0deg);
    opacity: 1;
  }
  88% {
    top: -74px;
    transform: rotateX(0deg);
    opacity: 1;
  }
  92% {
    top: -50px;
    transform: rotateX(30deg);
    opacity: 0;
  }
}

@keyframes fillout {
  from {
    transform: translateY(0rem) rotate(360deg);
  }
  to {
    transform: translateY(4rem) rotate(0deg);
  }
}

@keyframes fillin {
  0% {
    transform: translateY(4rem) rotate(0deg);
  }
  100% {
    transform: translateY(0rem) rotate(360deg);
  }
}

@media screen and (max-width: 1565px) {
  #projets {
    display: flex;
    flex-direction: column;
    margin: auto;
  }

  .experiences {
    margin-left: 10vw;
    margin-right: 10vw;
  }

  .experiences ul {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    max-height: unset;
  }

  .experiencebox div {
    width: 40vw;
  }

  .experiencebox .date {
    width: 15rem;
  }

  #projets div a .projecttext {
    flex-direction: row;
    overflow: hidden;
    width: 50vw;
  }

  #projets div a:nth-child(2n) {
    margin-left: 1rem;
    margin-right: 0rem;
    margin-top: 4rem;
    margin-bottom: 3rem;
  }

  #projets div a:nth-child(2n + 1) {
    margin-left: 0rem;
    margin-right: 1rem;
    margin-top: 4rem;
    margin-bottom: 3rem;
  }

  .about section {
    width: 100%;
  }

  .about aside {
    width: 100%;
  }

  .about {
    flex-direction: column;
  }

  .presentation {
    margin-top: 2rem;
    margin-right: 10vw;
    margin-left: 10vw;
    height: unset;
  }

  .chevron {
    display: none;
  }
}

@media screen and (max-width: 1060px) {
  .profilebox {
    margin: 2rem 0rem 1rem 2rem;
  }

  .infobox {
    margin-left: 2rem;
    margin-top: 5rem;
  }

  .infobox a {
    font-size: 20px;
  }

  #projets {
    display: flex;
    flex-direction: column;
    flex-wrap: unset;
    margin: 0px;
    width: 100%;
    padding: 0px;
  }

  #projets div {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    /* padding: 1rem; */
  }

  #projets div a {
    display: flex;
    height: unset;
    width: 90vw;
    padding: 5vw;
    max-width: unset;
  }

  #projets div a:nth-child(2n) {
    margin-left: 0rem;
    margin-right: 0rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  #projets div a:nth-child(2n + 1) {
    margin-left: 0rem;
    margin-right: 0rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .project-title {
    margin: 0px;
    font-size: 2rem;
  }

  #projets div a .projecttext {
    min-height: 15rem;
    width: 80vw;
    padding-right: 0px;
    display: flex;
    flex-direction: column;
  }

  #projets div a .img-container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  #projets div a .imgHeader {
    display: flex;
    position: unset;
    width: 40vw;
  }

  #projets div a .secondImg {
    width: 40vw;
  }
}

@media screen and (max-width: 700px) {
  .experiences ul {
    max-height: unset;
  }

  .experiencebox {
    flex-flow: column;
  }

  .experiencebox div {
    padding-left: 0px;
    width: unset;
  }

  .experiencebox div p {
    text-align: justify;
  }

  .experiencebox .date {
    width: unset;
    font-size: 1.5rem;
  }

  .text-box {
    left: 25%;
    top: 30%;
  }

  .aboutbox div h1 {
    font-size: 3rem;
  }

  #projets div a:nth-child(2n) {
    margin-left: 0rem;
    margin-right: 0rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  #projets div a .projecttext {
    min-height: 15rem;
    padding-right: 0px;
  }
  #projets div a {
    display: flex;
    flex-direction: column;
    width: 90vw;
    padding: 5vw;
    max-width: unset;
  }

  .project-title {
    font-size: 2rem;
    margin: 0px;
    text-align: center;
  }

  #projets div a:nth-child(2n + 1) {
    margin-left: 0rem;
    margin-right: 0rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .about-img {
    position: unset;
    order: 2;
    justify-self: center;
    margin-top: 2rem;
  }

  .profilebox {
    margin: 2rem 0rem 0rem 0rem;
    flex-flow: column;
    align-items: center;
  }

  .sectionSwitch {
    display: flex;
    flex-flow: column;
  }

  .infobox {
    align-items: center;
    display: flex;
    flex-flow: column;
    margin-left: 0rem;
  }

  .infobox a:hover {
    transform: unset;
  }

  .infobox a.selected {
    color: var(--fg-0);
    transform: unset;
  }

  .presentation {
    margin-left: 2rem;
    margin-right: 2rem;
    height: unset;
  }

  .experiences {
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .presentation p.selected {
    overflow-y: scroll;
  }

  #projets div a .img-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: unset;
    justify-content: center;
    padding-top: 2rem;
  }

  #projets div a .secondImg {
    width: 50vw;
    position: unset;
    left: unset;
    top: unset;
    max-height: unset;
  }

  #projets div a .imgHeader {
    width: 50vw;
    max-height: unset;
    padding-right: 1rem
  }

  .aboutbox div {
    margin-left: 2rem;
    margin-right: 2rem;
  }

  #pres-textbox {
    padding-bottom: 2rem;
  }

  .iconbox {
    max-width: none;
    justify-content: space-around;
  }
}
