:root {
    scroll-behavior: smooth;
}

body {
    background-color: #BE8C68;
}

a {
    color: #F5F5F5;
    text-decoration: none;
}

.about {
    display: flex;
}

.about section {
    width: 50vw;
}

.about aside {
    width: 50vw;
}

.presentation {
    margin-left: 20%;
    margin-right: 20%;
    margin-top:8.3rem;
    display: flex;
    flex-flow: column;
    padding-bottom: 3rem;
}

.presentation p {
    opacity: 0;
    display: none;
    transition: all 0.2s ease-in;
}

.presentation p.selected {
    display: flex;
    opacity: 1;
    height: 20rem;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 1.7rem;
    line-height: 33px;
    margin: 0px;
    color: #000000;
}

.presentation span {
    display: inline-flex;
    border: 3px solid #CDCCD1;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.experiences {
    margin-left: 20%;
    margin-right: 20%;
}

.experiences ul {
    padding: 0rem;
    overflow-y: scroll;
    max-height: 35vh;
}

.experiencebox {
    display: flex;
    padding-bottom: 1rem;
}

.experiencebox div {
    padding-left: 3rem;
    width: 25rem;
}

.experiencebox .date {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    line-height: 21px;
    color: #CDCCD1;
    margin: 0rem;
    width: 10rem;
}

.experiencebox div .titre {  
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 26px;
    color: #000000;
    padding-bottom: 1rem;
    margin: 0rem;
}

.experiencebox div .description {
        
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.3rem;
    color: #000000;
    margin: 0rem;
}

.ruler { 
    border: 3px solid #CDCCD1;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: 0px;
    width: 10rem;
    display: inline-flex;
    margin-right: 1rem;
    transition: all 0.4s ease-in;
}

.infobox {
    margin-left: 8rem;
}

.infobox button {
    display: flex;
    transition: all 0.4s ease-in;
    align-items: center;
    background: none;
    border: none;
    
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 33px;
    color: #CDCCD1;
    padding-bottom:4rem;
    cursor: pointer;
}

.infobox button:hover {
    transform: scale(130%) translateX(11%);
}

.infobox button:hover .ruler {
    border: 3px solid #000000;
}

.infobox button:hover {
    color: #000000;
}

.infobox button.selected {
    color: #000000;
    transform: scale(130%) translateX(11%);
}

.infobox button.selected .ruler{
    border: 3px solid #000000;

}

.chevron {
    font-size: 4rem;
    color: #CDCCD1;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.4s ease-in;
}

.chevron:hover {
    transform: scale(130%)
}

.profilebox {
    display: flex;
    flex-flow: row;
    margin: 5rem 0rem 10rem 8rem;
}

.about-img {
    width: 13rem;
    height: 13rem;
    position: relative;
    top: 3rem;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 8px;
}

.aboutbox {
    display: flex;
}

.aboutbox div {
    margin-left: 4rem;
}

.aboutbox div h1 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 4rem;
    line-height: 70px;
    padding:0px;
    margin:0px;
    color: #000000;
}

.aboutbox div h2 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 1.8rem;
    padding:0px;
    margin:0px;
    line-height: 33px;
    color: #000000;
}

.aboutbox div p {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 33px;
    padding:0px;
    margin:0px;
}

.iconbox {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
    justify-content: space-between;
    max-width: 17rem;
}

.iconLink {
    position: relative;
    overflow:hidden;
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 5px solid #CDCCD1;
    border-radius: 1rem;
}

.iconLink:before {
    content:"";
    position: absolute;
    width:80px;
    height:80px;
    background:#3C2317;
    transform:translateY(4rem) rotate(0deg);
    border-radius:40%;
    z-index: -1;
    opacity: 0;
    transition: all 1s;

}

.iconLink:hover:before {
    animation: fillin 2s ease-in-out;
    transition: none;
    opacity: 1;
}

.iconElem {
    display: flex;
    justify-content: center;
    align-items: center;
}

#projets > h1{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 3.9rem;
    line-height: 70px;
    grid-column-start: 1;
    grid-column-end: 3;
    margin-left: 5rem;
}

#projets {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
}

#projets a {
    display: flex;
    flex-direction: row;
    height: 40vh;
    background-color: #3C2317;
    border-radius: 1rem;
    padding: 2rem;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
}

#projets a:nth-child(2n) {
    margin-left: 6rem;
    margin-right: 1rem;
    margin-top: 4rem;
    margin-bottom: 3rem;
}

#projets a:nth-child(2n+1) {
    margin-left: 1rem;
    margin-right: 6rem;
    margin-top: 4rem;
    margin-bottom: 3rem;
}

#projets a .projecttext h1 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 1.8rem;
    line-height: 33px;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(255, 255, 255, 0.25);
    margin: 0rem;
}

#projets a .projecttext h2 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 26px;
    color: #FFFFFF;
    margin-top: 0rem;
}

#projets a .projecttext p {
    margin: 0rem;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 26px;
    color: #FFFFFF;
}

#projets a .projecttext {
    min-width: 40%;
    padding-right: 2rem;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

#projets a .imgHeader {
    max-width: 50%;
    filter: drop-shadow(-4px -4px 4px rgba(255, 255, 255, 0.25));
    border-radius: 8px;
}

#projets a .secondImg {
    filter: drop-shadow(-4px -4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 8px;
    position: relative;
    display: block;
    left: -50%;
    bottom: -45%;
    height: 60%;
    max-width: 55%;
}

#projets a .projecttext .techno-info {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


#projets a .projecttext .techno-link {
    text-decoration: none;
    color: #FFFFFF;
    background-color: #CDCCD1;
    border: #CDCCD1;
    padding: 0.5rem;
    border-radius: 0.8rem;
    font-weight: 700;
    transition: transform .2s; /* Animation */
    width: auto;
    margin-right: 1rem;
    margin-bottom: 1rem;
}


@keyframes fillin {
    0% {

        transform:translateY(4rem) rotate(0deg);
    }
    100% {
        transform:translateY(0rem) rotate(360deg);
    }
}
