.project {
  display: flex;
  flex-flow: column;
  background-color: var(--bg-1);
}

.main {
  display: flex;
  flex-flow: row;
  margin-top: 2rem;
}

.content {
  max-height: 100vh;
  padding-right: 1rem;
}

.textbox {
  color: var(--fg-1);
  padding-left: 4rem;
  padding-right: 1rem;
  margin-right: 3rem;
  max-width: 45%;
}

.img-box {
  max-width: 55vw;
  max-height: 80vh;
}

.textbox h1 {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 60px;
  font-style: normal;
  line-height: 70px;
  margin-top: 0rem;
  margin-bottom: 0rem;
}

.made-by {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 33px;
  padding-top: 2rem;
}

.contactme {
  cursor: pointer;
  margin-top: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border: solid 5px var(--fg-2);
  border-radius: 1rem;
  background-color: transparent;
  color: var(--fg-2);
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
}

a {
  color: var(--fg-1);
  text-decoration: none;
}

.techno-info {
  margin-top: 2rem;
  display: flex;
  justify-content: start;
}

.techno-link {
  text-decoration: none;
  color: var(--bg-1);
  background-color: var(--fg-2);
  border: var(--fg-2);
  padding: 0.5rem;
  border-radius: 0.8rem;
  font-weight: 700;
  transition: transform 0.2s; /* Animation */
  width: auto;
  margin-right: 1rem;
}

.techno-link:hover {
  transform: scale(1.5);
}

.textbox h2 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 34px;
  line-height: 45px;
  margin-top: 0rem;
}

.textbox p {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  text-align: justify;
}

.main-img {
  object-fit: contain;
  object-position: left top;
  position: relative;
  top: 0rem;
  max-width: 60%;

  filter: drop-shadow(-4px -4px 4px rgba(255, 255, 255, 0.25));
  border-radius: 8px;
}

.secondary-img {
  position: relative;
  left: 0px;
  max-width: 80%;
  bottom: 20%;
  filter: drop-shadow(-4px -4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 8px;
}

.navigation {
  background-color: var(--bg-1);
  color: var(--fg-2);
  display: flex;
  justify-content: space-between;
  margin-left: 4rem;
  margin-right: 2rem;
  z-index: 0;
}

.navigation div {
  width: 15rem;
  justify-content: space-between;
}

.navigation h1 {
  font-family: "Raleway";
  color: var(--fg-1);
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 59px;
  margin-left: 22rem;
}

.iconLink {
  position: relative;
  overflow: hidden;
  width: 2.5rem;
  height: 2.5rem;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2.3rem;
  cursor: pointer;
  border: 5px solid var(--fg-2);
  border-radius: 1rem;
}

.iconLink:before {
  content: "";
  position: absolute;
  width: 80px;
  height: 80px;
  background: var(--bg-2);
  transform: translateY(4rem) rotate(0deg);
  animation: fillout 2s ease-in-out;
  border-radius: 40%;
  z-index: -1;
  transition: all 2s;
}

.iconLink:hover:before {
  animation: fillin 2s ease-in-out;
  transition: none;
}

.iconElem {
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes fillout {
  from {
    transform: translateY(0rem) rotate(360deg);
  }
  to {
    transform: translateY(4rem) rotate(0deg);
  }
}

@keyframes fillin {
  0% {
    transform: translateY(4rem) rotate(0deg);
  }
  100% {
    transform: translateY(0rem) rotate(360deg);
  }
}

.navigation div {
  display: flex;
  flex-flow: row;
}

@media screen and (max-width: 1500px) {
  .navigation h1 {
    margin-left: unset;
  }

  .navigation div a {
    margin-left: 0px;
  }

  .secondary-img {
    bottom: 10%;
    max-width: 80%;
  }
  .main-img {
    max-width: 60%;
  }
}

@media screen and (max-width: 1060px) {
  .navigation h1 {
    display: none;
  }
  .main {
    flex-flow: column;
  }
  .textbox {
    max-width: unset;
  }
  .img-box {
    max-width: unset;
    padding-top: 2rem;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-flow: column;
    max-height: unset;
  }
  .secondary-img {
  }
  .main-img {
  }
}

@media screen and (max-width: 600px) {
  .textbox {
    padding-left: 1.5rem;
    padding-right: 1rem;
    margin-right: 0.5rem;
  }
  .techno-info {
    flex-wrap: wrap;
  }
  .techno-link {
    margin-bottom: 1rem;
  }
  .navigation {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
