{% include headHome.html %}
<body style="max-width: 100vw; min-height: 100vh">
<main class="about">
    <section>
        <div class="profilebox">
            <img class="about-img img" src="/assets/images/ressources/about.webp" alt="Photo de Julien Aldon">
            <div class="aboutbox">
                <div>
                    <nav class="iconbox">
                        <a aria-label="Mon linkedin" rel="external" target="_blank" href="{{ site.linkedin_url }}" class="iconLink"><i class="iconElem fa-brands fa-linkedin"></i></a>
                        <a aria-label="Mon github" rel="external" target="_blank" href="{{ site.github_url }}" class="iconLink"><i class="iconElem fa-brands fa-github"></i></a>
                        <a aria-label="Mon adresse email" href="mailto:{{ site.email }}"id="mail-button" class="iconLink"><i class="iconElem fa-solid fa-envelopes-bulk"></i></a>
                    </nav>
                    <p>Hello, moi c'est</p>
                    <h1>Julien Aldon</h1>
                    <h2>Je suis developpeur</h2>
                    <div class="text-box">
                        <h2>Python</h2>
                        <h2>Javascript</h2>
                        <h2>C++</h2>
                        <h2>C#</h2>
                        <h2>Rust</h2>
                        <h2>Web</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="infobox">
            <a href="#pres-textbox" class="sectionSwitch selected"><span class="ruler"></span>Un peu d'informations sur moi</a href="">
            <a href="#experiences" class="sectionSwitch"><span class="ruler"></span>Mes expériences</a href="">
            <a href="#projets" class="sectionSwitch"><span class="ruler"></span>Mes projets</button>
        </div>
        <div class="chevron">
            <a href="#projets"><i class="fa-solid fa-chevron-down"></i></a>
        </div>
    </section>
    <aside>
        <article class="presentation">
            <p id="pres-textbox" class="selected">
                {{ page.presentation }}
            </p>
            <span></span>
        </article>
        <article id="experiences" class="experiences">
            <ul>
                {% for elem in page.experiences %}
                <li class="experiencebox">
                    <h2 class="date">{{ elem.date }}</h2>
                    <div>
                        <h2 class="titre">{{ elem.titre }}</h2>
                        <p class="description">{{ elem.description }}</p>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </article>
    </aside>
</main>
<section id="projets">
    <h1 class="project-title">Mes réalisations et projets personnels</h1>
    <div>
    {% for post in site.posts %}
        <a class="{{ post.color }}" id="{{ post.titre }}" href="{{ post.url }}">
            <div class="projecttext">
                {{ post.excerpt }}
                <div class="techno-info">
                    {% for techno in post.technos %}
                        <label class="techno-link" rel="external" target="_blank" href="{{ techno.url }}">{{ techno.tech }}</label>
                    {% endfor %}
                </div>
            </div>
            <div class="img-container">
                <img alt="{{ post.images[0].alt }}" class="img imgHeader" src="{{ post.images[0].img }}">
                <img alt="{{ post.images[1].alt }}" class="img secondImg" src="{{ post.images[1].img }}">
            </div>
        </a>
    {% endfor %}    
    </div>
</section>

<!-- {% include footer.html %} -->
</body>